In [1]:
import pandas as pd
import numpy as np
import random
import _datetime
import calendar
import mysql.connector
from _datetime import date

In [2]:
config = {
  'user': 'root',
  'password': '',
  'host': '127.0.0.1',
  'database': 'attendance_system',
  'raise_on_warnings': True
}

mydba = mysql.connector.connect(**config)
mycursor = mydba.cursor()

In [3]:
Years = {'1st': ['Mech', 'Etc', 'Civil', 'CS', 'E&TC', 'DS', 'AI'], '2nd': ['Mech', 'Etc', 'Civil', 'CS', 'E&TC', 'DS'], '3rd': ['Mech', 'Etc', 'Civil', 'CS', 'E&TC'], '4th': ['Mech', 'Etc', 'Civil', 'CS', 'E&TC']}
Branches = {'Mech': 180, 'Etc': 120, 'Civil': 60, 'CS': 180, 'DS': 60, 'AI': 60, 'E&TC': 120}
Student_Columns = ['ID', 'Roll_No', 'Name', 'Year', 'Branch', 'Division', 'UserName', 'Password', 'City']
Cities = ['Pune', 'Mumbai', 'Shirpur', 'Chopda', 'Amalner', 'Parola', 'Bhadgaon', 'Pachora', 'Chalisgaon', 'Shindkheda', 'Dhule', 'Dharangaon']
Attendances = ['P', 'A', 'P', 'A', 'P', 'A', 'P', 'P', 'P', 'P']
Names = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [12]:
# Dependencies
Student_Data = pd.DataFrame()


Roll_No = []
Name = []
Year = []
Branch = []
Division = []
UserName = []
Password = []
City = []

In [13]:
for year in Years.keys():
    print(f"Creating {year} year Data...")
    for branch in Years[year]:
        print(f"Creating {branch} branch Data...")
        for student in range(Branches[branch]):
            student += 1
            Roll_No.append(student)
            Name.append(random.choice(Names)+random.choice(Names)+random.choice(Names))
            Year.append(year)
            Branch.append(branch)
            if student <= 60 and student > 0:
                Division.append('A')
            elif student <= 120 and student > 60:
                Division.append('B')
            else:
                Division.append('C')
            UserName.append(year+'_'+branch+'_'+str(student))
            Password.append(year+'_'+branch+'_'+str(student))
            City.append(random.choice(Cities))
    print('Work is done...!')
    break

Creating 1st year Data...
Creating Mech branch Data...
Creating Etc branch Data...
Creating Civil branch Data...
Creating CS branch Data...
Creating E&TC branch Data...
Creating DS branch Data...
Creating AI branch Data...
Work is done...!

In [14]:
Student_Data['Roll_No'] = Roll_No
Student_Data['Name'] = Name
Student_Data['Year'] = Year
Student_Data['Branch'] = Branch
Student_Data['Division'] = Division
Student_Data['UserName'] = UserName
Student_Data['Password'] = Password
Student_Data['City'] = City

In [15]:
Student_Data.head()

   Roll_No Name Year Branch Division    UserName    Password        City
0        1  ZUY  1st   Mech        A  1st_Mech_1  1st_Mech_1      Mumbai
1        2  YFJ  1st   Mech        A  1st_Mech_2  1st_Mech_2  Dharangaon
2        3  ZRK  1st   Mech        A  1st_Mech_3  1st_Mech_3  Dharangaon
3        4  RVP  1st   Mech        A  1st_Mech_4  1st_Mech_4      Chopda
4        5  DBL  1st   Mech        A  1st_Mech_5  1st_Mech_5    Bhadgaon

In [16]:
Student_Data.shape

(780, 8)

In [17]:
Student_Data.to_csv('Student_Data.csv')

In [ ]:
def Find_Day(date):
    born = _datetime.datetime.strptime(str(date), '%Y-%m-%d').weekday()
    return (calendar.day_name[born])

In [ ]:
start_date = date(2021, 12, 1)
end_date = date(2021, 12, 31)
delta = _datetime.timedelta(days=1)
Attendance_Data = pd.DataFrame()
Attendance_Data['ID'] = Student_Data['ID']
columns = []
DAY = 0
while start_date <= end_date:
    DAY += 1
    A_data = []
    for i in range(len(Student_Data['ID'])):
        A_data.append(random.choice(Attendances))
    d = 'DAY_'+str(DAY)
    Attendance_Data[d] = A_data
    x = d+' varchar(20),'
    print(x)
    start_date += delta

In [ ]:
Student_Data.to_csv('Student_Data.csv')

In [ ]:
Attendance_Data.to_csv('Attendance_Data.csv')

In [ ]:
Attendance_Data.keys()

In [ ]:
# Command to convert csv into sql table
"""LOAD DATA LOCAL INFILE 'FILE_PATH' INTO TABLE 'TABLE_NAME' FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 ROWS"""